@use './../settings/functions' as *;

form.hsfc-Form{

    .hsfc-Step{

        .hsfc-Step__Content{
            padding: unset;

            .hsfc-ErrorAlert{
                font-family: var(--paragraph_classic_font);
                color: var(--error_state);
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5;
                margin-top: 0.25rem;
            }

            .hsfc-Row{
                margin-bottom: 1.25rem;
                gap: 1.5rem;

                .hsfc-DropdownOptions{
                    border: 1px solid rgba(10, 8, 28, .08);
                    border-radius: 0.25rem;
                    background-color: var(--beige_light);

                    .hsfc-DropdownOptions__Search{
                        padding: 0.5rem;
                    }
                    
                    .hsfc-DropdownOptions__List{

                        .hsfc-DropdownOptions__List__ListItem{
                            background-color: transparent;
                            padding: 0.5rem 0.75rem;
                            color: var(--black);
                            font-family: var(--paragraph_classic_font);
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 1.5;

                            &:hover{
                                background-color: var(--beige);
                            }
                        }
                    }
                }

                .hsfc-TextField,
                .hsfc-EmailField,
                .hsfc-NumberField,
                .hsfc-PhoneField,
                .hsfc-DateField,
                .hsfc-DropdownField,
                .hsfc-FileField,
                .hsfc-TextareaField,
                .hsfc-CheckboxFieldGroup,
                .hsfc-RadioFieldGroup{

                    > .hsfc-FieldLabel{
                        width: fit-content;
                        margin-bottom: 0.5rem;
                        
                        span span{
                            color: var(--black);
                            font-family: var(--paragraph_classic_font);
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 1.5;
                            
                            &.hsfc-FieldLabel__RequiredIndicator{
                                color: var(--black);
                            }
                        }
                    }

                    .hsfc-FieldDescription{
                        color: var(--black);
                        font-family: var(--paragraph_classic_font);
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1.5;
                        margin-bottom: 0.25rem;
                    }

                    .hsfc-TextInput,
                    .hsfc-TextareaInput{
                        background-color:var(--beige_light);
                        border: 1px solid rgba(#0A081C14,0.08);
                        border-radius: 0.25rem;
                        padding: 12px;
                        color: var(--black);
                        font-family: var(--paragraph_classic_font);
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1.5;
                        margin: unset;
                        transition: 0.35s;
                        &:hover{
                            box-shadow: unset;
                        }

                        &[aria-invalid="true"]{
                            border-color: var(--error_state);
                            background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 15.4572C10.6937 15.4572 10.8561 15.3917 10.9872 15.2606C11.1183 15.1296 11.1839 14.9673 11.1839 14.7736C11.1839 14.5797 11.1183 14.4173 10.9872 14.2864C10.8561 14.1553 10.6937 14.0897 10.5 14.0897C10.3063 14.0897 10.1439 14.1553 10.0128 14.2864C9.88167 14.4173 9.81611 14.5797 9.81611 14.7736C9.81611 14.9673 9.88167 15.1296 10.0128 15.2606C10.1439 15.3917 10.3063 15.4572 10.5 15.4572ZM10.5008 11.7819C10.6584 11.7819 10.7903 11.7287 10.8964 11.6222C11.0025 11.5157 11.0556 11.3838 11.0556 11.2264V5.67083C11.0556 5.51343 11.0022 5.38148 10.8956 5.275C10.7889 5.16852 10.6568 5.11528 10.4992 5.11528C10.3416 5.11528 10.2097 5.16852 10.1036 5.275C9.9975 5.38148 9.94444 5.51343 9.94444 5.67083V11.2264C9.94444 11.3838 9.99778 11.5157 10.1044 11.6222C10.2111 11.7287 10.3432 11.7819 10.5008 11.7819ZM10.5036 20.5C9.12083 20.5 7.82074 20.2376 6.60333 19.7128C5.38611 19.188 4.32722 18.4757 3.42667 17.5761C2.52611 16.6765 1.81324 15.6185 1.28806 14.4022C0.762685 13.1861 0.5 11.8866 0.5 10.5036C0.5 9.12083 0.762407 7.82074 1.28722 6.60333C1.81204 5.38611 2.52426 4.32722 3.42389 3.42667C4.32352 2.52611 5.38148 1.81324 6.59778 1.28806C7.81389 0.762685 9.11343 0.5 10.4964 0.5C11.8792 0.5 13.1793 0.762408 14.3967 1.28722C15.6139 1.81204 16.6728 2.52426 17.5733 3.42389C18.4739 4.32352 19.1868 5.38148 19.7119 6.59778C20.2373 7.81389 20.5 9.11343 20.5 10.4964C20.5 11.8792 20.2376 13.1793 19.7128 14.3967C19.188 15.6139 18.4757 16.6728 17.5761 17.5733C16.6765 18.4739 15.6185 19.1868 14.4022 19.7119C13.1861 20.2373 11.8866 20.5 10.5036 20.5ZM10.5 19.3889C12.9815 19.3889 15.0833 18.5278 16.8056 16.8056C18.5278 15.0833 19.3889 12.9815 19.3889 10.5C19.3889 8.01852 18.5278 5.91667 16.8056 4.19444C15.0833 2.47222 12.9815 1.61111 10.5 1.61111C8.01852 1.61111 5.91667 2.47222 4.19444 4.19444C2.47222 5.91667 1.61111 8.01852 1.61111 10.5C1.61111 12.9815 2.47222 15.0833 4.19444 16.8056C5.91667 18.5278 8.01852 19.3889 10.5 19.3889Z' fill='%23980000'/%3E%3C/svg%3E%0A");
                            background-position: calc(100% - 1rem) 50%;
                            background-repeat: no-repeat;
                            background-size: 21px;
                        }

                        &:focus,&:focus-visible{
                            border:1px solid rgba(#0A081C14,0.26);
                            outline-offset: 0;
                            outline: none !important;
                            box-shadow: unset;
                        }

                        &::placeholder{
                            opacity: 1;
                            color: #6F6D79;
                        }
                    }
                }

                .hsfc-NumberField .hsfc-NumberInput{
                    margin: unset;
                }

                .hsfc-PhoneField .hsfc-PhoneInput{
                    margin: unset;

                    .hsfc-PhoneInput__FlagAndCaret{
                        border: 1px solid rgba(10, 8, 28, .08);
                        border-right: unset;
                        border-radius: 0.25rem 0 0 0.25rem;
                        background-color: var(--beige_light);
                        padding: 0 0.75rem;
                        gap: 0.5rem;
   
                        // .hsfc-PhoneInput__FlagAndCaret__Flag{}

                        .hsfc-PhoneInput__FlagAndCaret__Caret{
                            border: unset;
                            width: 13px;
                            height: 8px;
                            background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.10131 7.39778C6.88164 7.61746 6.52554 7.61746 6.30586 7.39778L0.571001 1.66291C0.351333 1.44323 0.351333 1.08713 0.571001 0.867456L0.836171 0.602256C1.05584 0.382581 1.41199 0.382581 1.63167 0.602256L6.70359 5.67421L11.7755 0.602256C11.9952 0.382581 12.3513 0.382581 12.571 0.602256L12.8362 0.867456C13.0559 1.08713 13.0559 1.44323 12.8362 1.66291L7.10131 7.39778Z' fill='%2319192F'/%3E%3C/svg%3E%0A");
                            background-position: 50%;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                    .hsfc-DropdownOptions{
                        border: 1px solid rgba(10, 8, 28, .08);
                    }

                    > .hsfc-TextInput{
                        border-radius: 0 0.25rem 0.25rem 0;
                    }
                }

                .hsfc-DropdownField .hsfc-DropdownInput{
                    margin: unset;

                    .hsfc-TextInput[aria-invalid="true"]{
                        background-position: calc(100% - 2.25rem) 50%;
                    }
                    
                    .hsfc-DropdownInput__Caret{
                        padding: 0 1rem;

                        span{
                            border: unset;
                            width: 13px;
                            height: 8px;
                            background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.10131 7.39778C6.88164 7.61746 6.52554 7.61746 6.30586 7.39778L0.571001 1.66291C0.351333 1.44323 0.351333 1.08713 0.571001 0.867456L0.836171 0.602256C1.05584 0.382581 1.41199 0.382581 1.63167 0.602256L6.70359 5.67421L11.7755 0.602256C11.9952 0.382581 12.3513 0.382581 12.571 0.602256L12.8362 0.867456C13.0559 1.08713 13.0559 1.44323 12.8362 1.66291L7.10131 7.39778Z' fill='%2319192F'/%3E%3C/svg%3E%0A");
                            background-position: 50%;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }

                .hsfc-FileField{

                    .hsfc-FileInput{
                        color: var(--black);
                        font-family: var(--paragraph_classic_font);
                        font-weight: 500;
                        font-size: 1rem;
                        line-height: 1.5;
                        cursor: pointer;
                    }

                    .hsfc-InfoAlert{
                        color: var(--black);
                        font-family: var(--paragraph_classic_font);
                        font-weight: 500;
                        font-size: 1rem;
                        line-height: 1.5;
                    }
                }

                .hsfc-TextareaField .hsfc-TextareaInput{
                    margin: unset;
                }

                .hsfc-CheckboxFieldGroup .hsfc-CheckboxFieldGroup__Options,
                .hsfc-RadioFieldGroup .hsfc-RadioFieldGroup__Options{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    flex-wrap: wrap;
                    margin: unset;

                    > div{
                        margin: unset;
                    }
                }
                .hsfc-CheckboxFieldGroup__Options .hsfc-FieldLabel,
                .hsfc-RadioFieldGroup__Options .hsfc-FieldLabel,
                .hsfc-DataPrivacyField .hsfc-FieldLabel{
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
                    align-items: center;
                    margin: unset;

                    .hsfc-CheckboxInput,
                    .hsfc-RadioInput{
                        display: none;

                        &:checked + span::after{
                            opacity: 1;
                        }
                    }

                    > span{
                        position: relative;
                        padding-left: 1.75rem;
                        cursor: pointer;
                        
                        &::before,
                        &::after{
                            content: "";
                            width: 1.25rem;
                            height: 1.25rem;
                            border: 1px solid var(--black);
                            position: absolute;
                            top: 0.125rem;
                            left: 0;
                        }

                        &::after{
                            opacity: 0;
                        }

                        span{
                            color: var(--black);
                            font-family: var(--paragraph_classic_font);
                            font-weight: 400;
                            font-size: 0.875rem;
                            line-height: 1.5;
                        }
                    }
                }
                .hsfc-CheckboxFieldGroup__Options .hsfc-FieldLabel > span,
                .hsfc-DataPrivacyField .hsfc-FieldLabel > span{

                    &::before,
                    &::after{
                        border-radius: 0.25rem;
                    }

                    &::after{
                        border: unset;
                        background-image: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.5C1 3.29086 2.79086 1.5 5 1.5H17C19.2091 1.5 21 3.29086 21 5.5V17.5C21 19.7091 19.2091 21.5 17 21.5H5C2.79086 21.5 1 19.7091 1 17.5V5.5Z' fill='%233256A7'/%3E%3Cpath d='M1 5.5C1 3.29086 2.79086 1.5 5 1.5H17C19.2091 1.5 21 3.29086 21 5.5V17.5C21 19.7091 19.2091 21.5 17 21.5H5C2.79086 21.5 1 19.7091 1 17.5V5.5Z' stroke='%233256A7' stroke-width='1.5'/%3E%3Cpath d='M9.2586 13.7539L15.2987 7.71381C15.4412 7.57127 15.6075 7.5 15.7976 7.5C15.9876 7.5 16.1539 7.57127 16.2965 7.71381C16.439 7.85635 16.5103 8.02561 16.5103 8.2216C16.5103 8.41759 16.439 8.58686 16.2965 8.7294L9.75749 15.2862C9.61495 15.4287 9.44865 15.5 9.2586 15.5C9.06855 15.5 8.90225 15.4287 8.75971 15.2862L5.69512 12.2216C5.55259 12.0791 5.48429 11.9098 5.49022 11.7138C5.49616 11.5178 5.5704 11.3486 5.71294 11.206C5.85548 11.0635 6.02475 10.9922 6.22074 10.9922C6.41673 10.9922 6.58599 11.0635 6.72853 11.206L9.2586 13.7539Z' fill='white'/%3E%3C/svg%3E%0A");
                        background-position: 50%;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
                .hsfc-RadioFieldGroup__Options .hsfc-FieldLabel > span{
                                    
                    &::before,
                    &::after{
                        border-radius: 10rem;
                    }

                    &::after{
                        background-color: var(--black);
                        transform: scale(0.5);
                    }
                }

                .hsfc-Heading,
                .hsfc-RichText{
                    color: var(--black);
                    font-family: var(--paragraph_classic_font);

                    a{
                        color: inherit;
                        font-family: inherit;
                        font-size: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                        text-decoration: underline;
                    }
                }
                .hsfc-DataPrivacyField{

                    .hsfc-Row{
                        margin-bottom: 0.75rem;
                    }

                    .hsfc-RichText{
                        font-size: 0.875rem;
                    }
                }

                // .hsfc-ReCaptchaV2{}
            }

            .hsfc-NavigationRow{
                margin-top: 2rem;

                .hsfc-NavigationRow__Alerts{
                    margin-bottom: 2rem;

                    .hsfc-ErrorAlert{
                        margin-top: unset;
                    }
                }

                .hsfc-NavigationRow__Buttons{
                    justify-content: space-between;
                    .hsfc-Button{
                        width: fit-content;
                        padding:1rem 1.5rem;
                        color:var(--white);
                        background-color: var(--red); 
                        letter-spacing: .15em;
                        border-radius: 50px;
                        text-transform: uppercase;
                        font-size: 0.75rem;
                        &:hover{
                            transform:translateY(0px);
                        }
                    }
                }
            }
        }
    }
}

[data-hsfc-id=Renderer] .hsfc-PostSubmit{

    .hsfc-Step .hsfc-Step__Content{
        padding: unset;

        .hsfc-RichText{
            color: var(--black);
            font-family: var(--paragraph_classic_font);

            a{
                color: inherit;
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                text-decoration: underline;
            }
        }
    }
}