<section {% if module.identity %}id="{{module.identity}}"{% endif %} aria-label="text-media" class="text-media-module dashed-background {{ module.style.layout }} {{ module.style.color_theme }}-mode {% set padding = module.style.padding %}{% if padding.padding_desktop.type == 'classic'%}pt-{{padding.padding_desktop.padding_top_section}} pb-{{padding.padding_desktop.padding_bottom_section}}{% endif %} pt-m-{{padding.padding_mobile.padding_top_section}} pb-m-{{padding.padding_mobile.padding_bottom_section}} " {% if padding.padding_desktop.type == 'custom'%}style="padding-top:{{padding.padding_desktop.padding_top}}px;padding-bottom:{{padding.padding_desktop.padding_bottom}}px;"{% endif %}>
    <div class="container">
        {% if module.media_type == "image" %}
            {% if module.image.src %}
                <figure class="image gsap-animation-target" data-gsap-direction="bottom-top" data-gsap-delay="0.2">
                    <img loading="lazy" width="{{ module.image.width }}" height="{{ module.image.height }}" src="{{ module.image.src }}" alt="{{ module.image.alt }}">
                </figure>
            {% endif %}
        {% elif module.media_type == "video" %}
            <div class="video gsap-animation-target" data-gsap-direction="bottom-top" data-gsap-delay="0.2">
                <video src="{{ module.video }}" autoplay muted loop playsinline></video>
            </div>
        {% endif %}

        <div class="text-content gsap-animation-target" data-gsap-direction="bottom-top">
            {% if module.title_label %}
                <p class="label">{{ module.title_label }}</p>
            {% endif %}
            <div class="richtext">{{ module.content }}</div>

            {% if module.info|length > 0 %}
                <div class="info-wrapper">
                    {% for item in module.info %}
                        <div class="info">
                            {% if item.icon.src %}
                                <figure class="icon">
                                    <img loading="lazy" width="{{ item.icon.width }}" height="{{ item.icon.height }}" src="{{ item.icon.src }}" alt="{{ item.icon.alt }}">
                                </figure>
                            {% endif %}
                            <p class="text small">{{ item.text }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            {% if module.cta|length > 0 %}
                <div class="ctas">
                    {% for item in module.cta %}
                        {% if item.cta_type == "classic" %}
                            {% if item.link.url.href %}
                                <a class="btn {{ item.style }}" href="{{ item.link.url.href }}"{% if item.link.open_in_new_tab == true %} target="_blank" rel="noopener noreferrer"{% endif %}><span data-text="{{ item.text }}">{{ item.text }}</span></a>
                            {% endif %}
                        {% else %}
                            {% cta "cta" label='Select a CTA', guid='{{ item.cta }}' %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</section>