<section {% if module.identity %}id="{{module.identity}}"{% endif %} aria-label="push-events" class="push-events-module dashed-background light-mode {% set padding = module.style.padding %}{% if padding.padding_desktop.type == 'classic'%}pt-{{padding.padding_desktop.padding_top_section}} pb-{{padding.padding_desktop.padding_bottom_section}}{% endif %} pt-m-{{padding.padding_mobile.padding_top_section}} pb-m-{{padding.padding_mobile.padding_bottom_section}} " {% if padding.padding_desktop.type == 'custom'%}style="padding-top:{{padding.padding_desktop.padding_top}}px;padding-bottom:{{padding.padding_desktop.padding_bottom}}px;"{% endif %}>
    <div class="container">
        <div class="content">
            <div class="text-content gsap-animation-target" data-gsap-direction="bottom-top">
                {% if module.title_label %}
                    <p class="label">{{ module.title_label }}</p>
                {% endif %}
                <div class="richtext">{{ module.title }}</div>
            </div>

            {% if module.cards|length > 2 %}
                <div class="slider-controls">
                    <button class="swiper-button-prev slider-push-events-btn"></button>
                    <button class="swiper-button-next slider-push-events-btn"></button>
                </div>
            {% endif %}
        </div>

        <div class="swiper slider-push-events">
            <div class="swiper-wrapper">
                {% for item in module.cards %}
                    {% if item.link.url.href %}
                        <div class="swiper-slide gsap-animation-target" data-gsap-direction="bottom-top" data-gsap-delay="{{ (loop.index - 1) * 0.2 }}">
                            <a class="swiper-inner-slide" href="{{ item.link.url.href }}"{% if item.link.open_in_new_tab == true %} target="_blank" rel="noopener noreferrer"{% endif %}>
                                <div class="top-row">
                                    {% if item.image.src %}
                                        <figure class="image">
                                            <img loading="lazy" width="{{ item.image.width }}" height="{{ item.image.height }}" src="{{ item.image.src }}" alt="{{ item.image.alt }}">
                                        </figure>
                                    {% endif %}

                                    <p class="title h3">{{ item.title }}</p>
                                </div>

                                <div class="bottom-row">
                                    <div class="left-content">
                                        <p class="text small">{{ item.text }}</p>

                                        {% if item.info|length > 0 %}
                                            <div class="info-wrapper">
                                                {% for item in item.info %}
                                                    <div class="info">
                                                        {% if item.icon.src %}
                                                            <figure class="icon">
                                                                <img loading="lazy" width="{{ item.icon.width }}" height="{{ item.icon.height }}" src="{{ item.icon.src }}" alt="{{ item.icon.alt }}">
                                                            </figure>
                                                        {% endif %}
                                                        <p class="small">{{ item.text }}</p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <p class="btn secondary"><span data-text="{{ item.cta_text }}">{{ item.cta_text }}</span></p>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>