@use './../settings/functions' as *;
.blog-post-template{
    padding: 7.5rem 0;
    overflow: visible;

    .container{
        display: flex;
        flex-direction: row;
        gap: 7.5rem;
        max-width: 75rem;
        position: relative;
        z-index: 2;

        @media screen and (max-width: $tablet-l) {
            flex-direction: column-reverse;
            gap: 4.5rem;
        }

        .side-bar-wrapper{
            width: calc(100% / 6);
            flex-shrink: 0;

            @media screen and (max-width: $tablet-l) {
                width: 100%;
            }

            .side-bar{
                width: 100%;
                height: fit-content;
                position: sticky;
                top: 7.5rem;
                left: 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
        
                .socials{
                    display: flex;
                    flex-direction: row;
                    gap: 0.75rem;
        
                    .social{
                        width: 2rem;
                        height: 2rem;
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--beige_dark);
                        border-radius: 0.25rem;
                        cursor: pointer;
                        transition: background-color 300ms;
        
                        &:hover{
                            background-color: var(--black);

                            &::before{
                                background-color: var(--white);
                            }
                        }
                        
                        &::before{
                            content: "";
                            width: 1rem;
                            height: 1rem;
                            background-color: var(--black);
                            mask-position: 50%;
                            mask-repeat: no-repeat;
                            mask-size: contain;
                            transition: background-color 300ms;
                        }
        
                        &.copy::before{
                            mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.47096 8.663C6.77328 9.06717 7.15899 9.40159 7.60193 9.64359C8.04486 9.88559 8.53466 10.0295 9.0381 10.0655C9.54154 10.1016 10.0469 10.029 10.5198 9.85256C10.9927 9.67615 11.4221 9.40011 11.7789 9.04314L13.8908 6.93122C14.532 6.26737 14.8868 5.37824 14.8788 4.45535C14.8708 3.53245 14.5006 2.64962 13.848 1.99701C13.1953 1.3444 12.3125 0.974217 11.3896 0.966198C10.4667 0.958178 9.5776 1.31296 8.91375 1.95413L7.70291 3.15793M9.28685 7.25505C8.98453 6.85088 8.59882 6.51645 8.15588 6.27446C7.71295 6.03246 7.22315 5.88856 6.71971 5.8525C6.21627 5.81645 5.71096 5.88908 5.23806 6.06549C4.76516 6.2419 4.33573 6.51794 3.97889 6.8749L1.86697 8.98683C1.2258 9.65068 0.87102 10.5398 0.879039 11.4627C0.887059 12.3856 1.25724 13.2684 1.90985 13.921C2.56246 14.5737 3.44529 14.9438 4.36819 14.9519C5.29108 14.9599 6.18021 14.6051 6.84406 13.9639L8.04786 12.7601' stroke='%230A081C' stroke-width='1.40795' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        }
        
                        &.facebook::before{
                            mask-image: url("data:image/svg+xml,%3Csvg width='16' height='19' viewBox='0 0 16 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.79976 9.83421V15.9592H8.53888V9.83421H10.5812L10.9699 7.30052H8.53888V5.65704C8.53888 4.96319 8.87853 4.28748 9.96733 4.28748H11.0726V2.13042C11.0726 2.13042 10.0692 1.95923 9.1105 1.95923C7.10837 1.95923 5.79976 3.17266 5.79976 5.36944V7.30052H3.57422V9.83421H5.79976Z' fill='%230A081C'/%3E%3C/svg%3E%0A");
                        }
                        
                        &.twitter::before{
                            mask-image: url("data:image/svg+xml,%3Csvg width='21' height='17' viewBox='0 0 21 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.7918 16.6251C14.3371 16.6251 18.4652 10.3724 18.4652 4.95171C18.4652 4.77591 18.4613 4.59621 18.4535 4.42041C19.2566 3.83971 19.9496 3.12031 20.5 2.29621C19.7521 2.62891 18.958 2.84631 18.1449 2.94071C19.0011 2.42751 19.6421 1.62131 19.9492 0.671608C19.1438 1.14891 18.263 1.48561 17.3445 1.66731C16.7257 1.00971 15.9075 0.574408 15.0164 0.428508C14.1253 0.282608 13.211 0.434307 12.4148 0.860207C11.6186 1.28611 10.9848 1.96241 10.6115 2.78451C10.2382 3.60671 10.1462 4.52891 10.3496 5.40871C8.7187 5.32681 7.1233 4.90321 5.6667 4.16521C4.21 3.42721 2.9247 2.39131 1.8941 1.12471C1.3703 2.02781 1.21 3.09651 1.4459 4.11351C1.6817 5.13051 2.2959 6.01961 3.1637 6.60011C2.5122 6.57941 1.875 6.40401 1.3047 6.08841V6.13921C1.3041 7.08691 1.6317 8.00561 2.2319 8.73911C2.8321 9.47261 3.6678 9.97561 4.5969 10.1626C3.9934 10.3277 3.36 10.3518 2.7457 10.2329C3.0079 11.048 3.518 11.7608 4.2048 12.272C4.8916 12.7832 5.7209 13.0673 6.577 13.0845C5.1237 14.226 3.3285 14.8452 1.4805 14.8423C1.1527 14.8418 0.8253 14.8217 0.5 14.7821C2.3774 15.9866 4.5613 16.6263 6.7918 16.6251Z' fill='%230E0F30'/%3E%3C/svg%3E%0A");
                        }
        
                        &.linkedin::before{
                            mask-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.77746 14.959H4.66666V5.62565H7.77746V7.18152C8.10493 6.76462 8.52064 6.42539 8.99475 6.18818C9.46885 5.95096 9.98959 5.82165 10.5196 5.80952C11.4464 5.8147 12.3333 6.18728 12.9858 6.84552C13.6382 7.50375 14.003 8.39391 14 9.32072V14.959H10.8883V9.70898C10.828 9.28861 10.6179 8.90415 10.2967 8.62634C9.97551 8.34853 9.56479 8.19606 9.14012 8.19698C8.95017 8.20316 8.76341 8.24762 8.59104 8.32769C8.41868 8.40776 8.26425 8.52181 8.13702 8.66299C8.00978 8.80417 7.91235 8.96958 7.85056 9.14932C7.78878 9.32905 7.76392 9.51941 7.77746 9.70898V14.959ZM3.1108 14.959H5.56309e-08V5.62565H3.1108V14.959ZM1.55586 4.07072C1.35155 4.07072 1.14923 4.03047 0.960461 3.95228C0.771695 3.87409 0.600178 3.75949 0.455702 3.61502C0.311227 3.47054 0.196623 3.29902 0.118433 3.11026C0.0402437 2.92149 0 2.71917 0 2.51485C0 2.31053 0.0402437 2.10821 0.118433 1.91945C0.196623 1.73068 0.311227 1.55916 0.455702 1.41469C0.600178 1.27021 0.771695 1.15561 0.960461 1.07742C1.14923 0.999228 1.35155 0.958984 1.55586 0.958984C1.96851 0.958984 2.36425 1.12291 2.65603 1.41469C2.94781 1.70647 3.11173 2.10221 3.11173 2.51485C3.11173 2.92749 2.94781 3.32323 2.65603 3.61502C2.36425 3.9068 1.96851 4.07072 1.55586 4.07072Z' fill='white'/%3E%3C/svg%3E%0A");
                        }
                    }
                }
            }
        }

        .post-content-wrapper{
            width: 100%;

            .summary-links{
                background-color: var(--beige_light);
                border-radius: 0.5rem;
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: 4.5rem 0;

                a{
                    font-weight: 400;
                    font-size: 0.875rem;
                    line-height: 1.5;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}