{% set padding = module.style.padding %}

<section aria-label="Logo slider section" {% if module.module_identity %}id="{{module.module_identity}}"{% endif %} class="logos-slider-module {% if padding.padding_desktop.type == 'classic'%}pt-{{padding.padding_desktop.padding_top_section}} pb-{{padding.padding_desktop.padding_bottom_section}}{% endif %} pt-m-{{padding.padding_mobile.padding_top_section}} pb-m-{{padding.padding_mobile.padding_bottom_section}} " {% if padding.padding_desktop.type == 'custom'%}style="padding-top:{{padding.padding_desktop.padding_top}}px;padding-bottom:{{padding.padding_desktop.padding_bottom}}px;"{% endif %}>
    <div class="container {{module.style.layout.alignment}}">
        {% if module.top_content.label_field || (module.top_content.title.type && module.top_content.title.top_content) || module.top_content.text %}
            <div class="wrapper-content">
                {% if module.top_content.label_field %}
                    <span class="label">{{module.top_content.label_field}}</span>
                {% endif %}
                {% if module.top_content.title.type && module.top_content.title.content %}
                    <{{ module.top_content.title.type }} class="title {{ module.top_content.title.style }}">{{
                        module.top_content.title.content }}</{{ module.top_content.title.type }}>
                {% endif %}
                {% if module.top_content.text %}
                    <div class="richtext">
                        {{module.top_content.text}}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="wrapper-logos">
            <div class="splide" role="group"
                data-splide='{"type":"loop", "gap":32, "pagination": false, "arrows": false, "fixedWidth": 185,  "autoScroll":{"speed":{{module.style.settings.speed}}, "pauseOnHover":{{module.style.settings.pause_on_hover}} }}'>
                <div class="splide__track {{module.style.settings.overflow}}">
                    <ul class="splide__list">
                        {% for logo in module.logos %}
                        <li class="splide__slide">
                            {% if logo.link.url.href %}
                                <a href="{{logo.link.url.href}}" aria-label="Lien vers {{logo.image.alt}}" {% if logo.link.open_in_new_tab == true %} target="_blank" rel="noopener noreferrer"{% endif %}>
                            {% endif %}
                            <figure>
                                <img loading="lazy" width="{{logo.image.width}}" height="{{logo.image.height}}" src="{{logo.image.src}}" alt="{{logo.image.alt}}">
                            </figure>
                            {% if logo.link.url.href %}
                                </a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% if module.top_content.buttons %}
            <div class="wrapper-buttons">
                {% for item in module.top_content.buttons %}
                    {% if item.button_link.url.href && item.button_type == 'link' %}
                        <a class="btn {{item.button_style}} {{item.button_class}}" role="button"
                            href="{% if item.button_link.url.type == 'EMAIL_ADDRESS' %}mailto:{% endif %}{{item.button_link.url.href}}"
                            {% if item.button_link.open_in_new_tab %}target="_blank" {% endif %} {% if
                                item.button_link.no_follow %}rel="nofollow" {% endif %}>
                            <span>{{item.button_text}}</span>
                        </a>
                    {% elif item.button_type == 'cta' %}
                        {% cta "cta" label='Select a CTA', guid='{{item.cta_field}}' %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>