<!--
  templateType: page
  isAvailableForNewContent: true
  label: The animation school - Access denied
  screenshotPath: https://www.makethegrade.fr/hubfs/boilerplate/cover-boilerplate.png
-->

{% extends "../layouts/base-system.html" %}
{% set pageTitle = "Error 403 | Access denied" %}

{% block body %}
<section class="error-page" data-error="access-denied">
  <div class="container">
    <div class="wrapper">
      <p class="error-type">403</p>
      <p class="h4">Sorry, you don’t have access</p>
      <p>You don’t have permission to view this page. Contact the site’s administrator for questions.</p>
      
      <a class="btn primary" href="/"><span data-text="Go to homepage">Go to homepage</span></a>
    </div>
  </div>
</section>
{% endblock body %}