<!--
  templateType: membership_reset_page
  isAvailableForNewContent: true
  label: The animation school - Create New Password
  screenshotPath: https://www.makethegrade.fr/hubfs/boilerplate/cover-boilerplate.png
-->

{% extends "../layouts/base-system.html" %}
{% set pageTitle = "Membership | Reset password" %}

{% block body %}
<section class="form-page" data-form="password-reset">
  <div class="container">
    <div class="wrapper">
      <div class="form-container">
        <p class="h4">Create your password</p>
        <p>Your new password must be a different from your previously use password.</p>

        {% password_reset "my_password_reset"
          password_label="New password",
          password_confirm_label="Confirm new password",
          submit_button_text="Save password",
          show_password="Show"
        %}
      </div>

      <p class="admin-link">Having trouble? <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">Contact the site's administrator</a></p>
    </div>
  </div>
</section>
{% endblock %}