<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: The animation school - Password Prompt
  screenshotPath: https://www.makethegrade.fr/hubfs/boilerplate/cover-boilerplate.png
-->

{% extends "../layouts/base-system.html" %}
{% set pageTitle = "This page is private | Enter password" %}

{% block body %}
<section class="form-page" data-form="member-register">
  <div class="container">
    <div class="wrapper">
      <div class="form-container">
        <p class="h4">Password required</p>
        <p>Please enter the password required to view this page.</p>

        {% password_prompt "my_password_prompt"
          submit_button_text="Submit",
          bad_password_message="Sorry, please try again.\n",
          label="Password"
        %}
      </div>
    </div>
  </div>
</section>
{% endblock body %}